body {
    background-image: url("./img/woodenBack.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    align-self: center;
}

.book {
    height: 900px;
    width: 1151px;
    /*background-color: aquamarine;*/
    background-image: url("./img/book.png");
    background-size: 1130px 900px;
    background-repeat: no-repeat;
    border: dashed;
    margin-top: 40px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 50px;
}

.heading {
    margin: 70px;
    font-family: "Liberation Serif";
    font-weight: bolder;
}

#title {
    position: relative;
    font-weight: bolder;
    font-size: 65px;
    float: right;
    top: 50px;
    right: 110px;
}

.Rimg {
    height: 50px;
}

.homeB {
    position: fixed;
    alignment: left;
    top: 100px;
    left: 0px;
}

.bText:hover {
    font-weight: bolder;
    color: white;
    font-size: larger;
}

.contentB {
    /*background-attachmet: fixed;*/
    top: 200px;
    position: fixed;
    alignment: left;
    left: 0px;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-left: 0px;
}

.bText {
    position: relative;
    top: -65px;
    left: 20px;
    font-weight: bolder;
    font-family: fantasy;
    color: black;
    font-size: larger;
}

.leftPage {
    position: static;
}

.rightPage {
    position: static;
    height: 900px;
}

.topnav {
    margin: 0px;
    border: 0px;
    min-width:2000px;
    left: -9px;
    position: absolute;
    top: -2px;
}

ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
    background-color: aquamarine;
}

.links {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    color: black;
    font-family: "HP Simplified";
    text-decoration: none;
    display: block;
    padding: 14px;
    padding-left: 94px;
    padding-right: 94px;
    background-color:#b4362f
}
.links:hover {
    color: white;
    text-decoration: none;
    background-color: #333131;
}

