body {
    /*background-image: url("./img/black1.jpg");*/
    /*background-size: 1385px 1000px;*/
    /*background-repeat: no-repeat;*/
    /*align-self: center;*/
}
.SmallContainer {
    background-size: cover;
}

.LargeContainer {
    background-image: url("./img/book.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
    height: 900px;
    width: 1151px;
    border: dashed black;
}

@media (max-width: 768px) and (min-width: 0px){
    h1 {
        background-color: #1b1e21;
    }
}

.book {

    /*background-color: aquamarine;*/
    margin-top: 40px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 50px;
}

.heading {
    font-family: "Liberation Serif";
}

#title {
    position: relative;
    font-weight: bolder;
    float: right;
}

.Rimg {
    height: 50px;
}

.leftPage {
    position: static;
}

.rightPage {
    position: static;
}


