#bwn {
    font-family: "Noto Sans CJK JP Bold";
    position: relative;
    top: -150px;
    left: 120px;
}

#bwn:hover {
    color: #2948ff;
    transition: color 1s;
    animation-name: mover;
    animation-duration: 3s;
}

@keyframes mover {
    from {
        margin-left: 0px;
    }
    to {
        margin-left: 30px;
    }

}

#dav {
    position: relative;
    top: -60px;
    left: 120px;

}

#dav:hover {
    animation-name: mover;
    animation-duration: 3s;
}

#dps {
    position: relative;
    top: -60px;
    left: 120px;

}

#dps:hover {
    animation-name: mover;
    animation-duration: 3s;
}

#nps {
    position: relative;
    top: -60px;
    left: 120px;

}

#nps:hover {
    animation-name: mover;
    animation-duration: 3s;
}

.lpageimg {
    position: relative;
    top: -10px;
    left: 120px;
}
.rpageimg {
    position: relative;
    top: 60px;
    left: -3px;
}
#mait {
    position: relative;
    top: 50px;
}
#mait:hover {
    animation-name: mover;
    animation-duration: 3s;
}

