.contentMenu {
    position: relative;
    top: 50px;
    margin-left: 100px;
    margin-top: 100px;
    line-height: 50px;

}

li {
    color: black;
    font-weight: bold;
    font-family: "Liberation Mono";
}

#text1 {
    display: none;
}

#hover1 :hover {

}

li:hover {
    color: green;
    transition: color 0.3s;
}

@keyframes textMagnifier {
    from {
        margin-left: 0px;
    }
    to {
        margin-left: 40px;
    }

}
